body {
    text-align: center;
}

#welcome {
    background: linear-gradient(270deg, skyblue 0%, skyblue 40%, #fbf07b 50%, lightgreen 60%, lightgreen 100%);
    height: 100%;
    width: 100%;
    bottom: 0;
    display: table;
    z-index: 9;
}

/*img {
    height: 50%;
    width: 60%;
    border-radius: 50%;
    margin-bottom: 50px;
    margin-top: 15px;
}*/

/*.inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}*/

#bio {
    padding: 50px;
    text-align: center;
    font-size: 42px;
}

p {
    line-height: 1.3;
    font-size: 20px;
}

.line {
    width: 110px;
    height: 6px;
    background-color: black;
    margin: 5px auto;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: Verdana;
    font-weight: 300;
}

#name {
    font-size: 30px;
    line-height: 1.2;
    font-family: 'Cinzel Decorative', cursive;
}

h2 {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 300;
    font-family: monospace;
    color: black;
}

/*.linksbox {
    list-style: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    cursor: pointer;
    width: 100%;
    margin-top: 0px;
    background-color: powderblue;
}*/

/*.links {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline;
    font-family: serif;
    font-size: 25px;
}*/

/*.links:hover {
    text-decoration: underline;
    font-size: 35px;
}*/

a {
    text-decoration: none;
}

.writingss {
    color: blue;
    font-size: 18px;
    text-shadow: none !important;
    text-decoration: underline !important;
}

.writingss:hover {
    color: deeppink;
}

#contact iframe {
    width: 100%;
}

#contact {
    background-color: orange;
    height: 700px;
}

.socio h5 {
    display: inline;
}

/*.end {
    text-shadow: none !important;
    color: blue;
}*/

.nav_bar {
    position: sticky;
    top: 0;
    z-index: 9999
}

input {
    background-color: lightgrey;
}
